section.canhcam-boxes-4
	article.container
		h2.kusto-title Awards
		.owl-carousel.owl-theme
			.item
				img(src="./img/home/h-1.jpg")
				.content
					h3 THE DIAMOND ISLAND PROJECT WAS NAMED THE "BEST OF THE BEST" 2016 AWARD BY ROBB REPORT MAGAZINE
					a.btn.readmore(href='#') READ MORE
			.item
				img(src="./img/home/h-2.jpg")
				.content
					h3 THE DIAMOND ISLAND PHASE 2 IS AWARDED AS THE BEST CONDO LANDSCAPE ARCHITECTURAL DESIGNTHE DIAMOND ISLAND PHASE 2 IS AWARDED AS THE BEST CONDO LANDSCAPE ARCHITECTURAL DESIGN
					a.btn.readmore(href='#') READ MORE
			.item
				img(src="./img/home/h-2.jpg")
				.content
					h3 THE DIAMOND ISLAND PHASE 2 IS AWARDED AS THE BEST CONDO LANDSCAPE ARCHITECTURAL DESIGN
					a.btn.readmore(href='#') READ MORE