section.canhcam-boxes-5
	.container
		h2.kusto-title Commercial
		.row.item#com-1
			.col-lg-6
				.img(bg-img="Data/Sites/1/skins/default/img/commercial/c-1.jpg")
					img.d-lg-none.d-xl-block(src="Data/Sites/1/skins/default/img/commercial/c-1.jpg")
			.col-lg-6
				.text 
					h4 Leasing
					p Vestibulum a efficitur orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec nisl metus, finibus at facilisis a, pretium eu orci. Morbi posuere et nisi a ornare. Morbi rhoncus lacus non congue ullamcorper. Quisque a quam libero. Sed commodo commodo mi, in pharetra justo. Aenean sit amet rhoncus risus. Ut vitae vulputate lorem. Etiam feugiat, metus eu finibus tristique, libero quam lacinia sapien, ut varius ante neque nec metus. Pellentesque sit amet euismod neque, placerat pellentesque sem. Morbi libero metus, fringilla quis neque a, scelerisque commodo eros.
					a.btn.viewmore(href="#") VIEW MORE
		.row.item#com-2
			.col-lg-6.order-lg-2
				.img(bg-img="Data/Sites/1/skins/default/img/commercial/c-2.jpg")
					img.d-lg-none.d-xl-block(src="Data/Sites/1/skins/default/img/commercial/c-2.jpg")
			.col-lg-6.order-lg-1
				.text 
					h4 Retail
					p Suspendisse varius lacus eget nibh pretium, nec bibendum erat venenatis. Proin sit amet dui vel orci tincidunt semper. Morbi vulputate eget mi ut laoreet. Nullam sodales tempor urna, in euismod diam aliquet ac. Ut venenatis rutrum posuere. Vestibulum mattis condimentum mauris. Pellentesque ullamcorper elit vitae odio tincidunt, sed dictum erat lacinia. Quisque erat dolor, auctor nec eleifend nec, semper convallis enim. Pellentesque et hendrerit mi. Praesent sed pharetra dui. Curabitur tincidunt neque sed quam gravida, eu placerat nisl venenatis. Maecenas auctor dui vitae arcu scelerisque, vel posuere ligula dignissim. In laoreet sed mauris sit amet blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent ligula nisl, vestibulum vitae tincidunt ac, dignissim pretium turpis.
					a.btn.viewmore(href="#") VIEW MORE