section.canhcam-nav-2
	.container
		ul.nav.justify-content-center.nav-pills(data-select)
			li.nav-item.active
				a.nav-link(href='#') Our Business
			li.nav-item
				a.nav-link(href='#') Vision - Mission
			li.nav-item
				a.nav-link(href='#') Awards
			li.nav-item
				a.nav-link(href='#') Our People