section.canhcam-news-details-1
	article.container
		.row
			.col-lg-8
				.news-read
					h1 Kusto Home to officially introduce Bora Bora tower in Ho Chi Minh City
					time 12/12/2017
					p.lead Apartments in the Bora Bora tower, the tower in phase II of Kusto Home’s Diamond Island project will be introduced on November 26.
					p
						strong The most beautiful view of sunrise at Bora Bora
					p Diamond Island has six towers, typical apartments  with single, double or triple bedroom, Pool Villas, Garden Villas and Sky Villas. Each tower is smartly located and designed to bring the best values to the residents.
					p Bora Bora, expected to be completed in the second quarter of 2018, consists of 261 typical apartments with one, two or three bedrooms with apartment sizes ranging from 51-142 square metres and Pool Villas, Garden Villas and Sky Villas with private pool and garden. The tower is the combination of natural terrain, feng shui principles and modern designation.
					figure
						img.img-fluid(src="./img/media/m-d-1.jpg")
						figcaption Lorem ipsum dolor, sit amet consectetur adipisicing elit.
					p Diamond Island is the only island with vast green spaces and proximity to nature. It also provides plentiful spaces for family activities and recreation with the green density 16 square metres per person, beyond the standardof most famous green countries in the world such as Singapore, Japan, South Korea, offering desirable fresh air with 86.5 per cent of the total 8-hectare area covered by green space and community facilities.
					p Set along the shores of the Saigon River, Bora Bora is where dwellers can enjoy the best view of sunrise as well as the Saigon River in Ho Chi Minh City. The view is therapeutic, can relieve cancer, strengthen bones and improve brain functions for elders.
					p At Bora Bora, residents can relax at the pools, or take part in exciting tennis or basketball games at a range of excellent facilities for families, including a 2300 square-metre resort swimming pool including a 50-metre lap pool, riverside promenade, BBQ Garden, Infinity Pool, Zen garden, Outdoor Jacuzzi, Spa and Sport Complex. Amenities for children include the Pirate ship Water Park, Outdoor Library, Music and Art Academy, Astronomy Castle and a 1000 square-metre international pre-school.
					figure
						img.img-fluid(src="./img/media/m-d-2.jpg")
						figcaption The Water Taxi and the only licensed private marina, exclusive for Diamond Island residents
					p 
						strong International living standard with Kusto Home
					p In addition to emphasising green living, safety and an ideal environment for all generations of Diamond Island residents, Kusto Home also takes importance in the selection of imported equipment from famous brands such as Hafele digital door lock, Kohler sanitary equipment used for all bathrooms to bring international quality to each apartment.
					figure
						img.img-fluid(src="./img/media/m-d-3.jpg")
						figcaption The Water Taxi and the only licensed private marina, exclusive for Diamond Island residents
					p Headquartered in Singapore, Kusto Group is an international investment private holding company with diversified investments in oil and gas production, energy, civil construction, real estate development... Currently, Kusto Group is present throughout South East Asia including Vietnam, China, Thailand, India, Russia, Kazakhstan, Ukraine, Turkey and Georgia.
					p Kusto Home is also investing into Coteccons, construction materials (VCM in Quang Binh) and medical (Icare, Medelab). With strong financial strength, combined with experience in the development and management of real estate in many other countries, Kusto Home desires to bring customers quality products and the best place for living.
					.card
						.card-body 
							p On November 26, Kusto Home will introduce the Bora Bora tower for the first time.
							br
							p To register to visit the Diamond Island Sales Gallery, please contact hotline: 
								a(href="tel:0938480888") 0938 480 888 
								span or visit 
								a(href="diamondisland.com.vn") diamondisland.com.vn
					.social-networks.nav
						.nav-item
							.fb-share-button(data-href='', data-layout='button', data-size='small', data-mobile-iframe='true')
								a.fb-xfbml-parse-ignore(target='_blank', href='') Chia sẻ
						.nav-item
							a.twitter-share-button(href='https://twitter.com/share', data-size='medium', data-text='custom share text', data-url='', data-via='twitterdev', data-related='twitterapi,twitter') Tweet
						.nav-item
							.g-plusone(data-size="tall")

			.col-lg-4
				.othernews
					h2 Latest News 
					.lists
						a.item(href="#")
							figure
								.img
									img(src="./img/media/m-1.jpg", alt="alt")
								figcaption
									h3 Kusto Group aims to turn its firms into S-E Asian leaders
									time 12/12/2017

						a.item(href="#")
							figure
								.img
									img(src="./img/media/m-7.jpg", alt="alt")
								figcaption
									h3 Alexander Pirogov: “Kusto Logistics is a company that stands by its word”
									time 12/12/2017

						a.item(href="#")
							figure
								.img
									img(src="./img/media/m-4.jpg", alt="alt")
								figcaption
									h3 Kusto Home, Coteccons sign deal on Diamond Island apartments
									time 12/12/2017
				.ads
					a(href="#")
						img(src="./img/banner-ads.jpg", alt="")