section.canhcam-boxes-12
	article.container
		h2.kusto-title Residential
		.owl-carousel.owl-theme
			a(href="#")
				.item
					img(src="./img/residential/r-1.jpg")
					.content
						p.year 2018
						h3 diamond island
			a(href="#")
				.item
					img(src="./img/residential/r-2.jpg")
					.content
						p.year 2018
						h3 koktobe city
			a(href="#")
				.item
					img(src="./img/residential/r-1.jpg")
					.content
						p.year 2018
						h3 diamond island
			a(href="#")
				.item
					img(src="./img/residential/r-1.jpg")
					.content
						p.year 2018
						h3 diamond island