section.canhcam-testimonials-1#kusto-about-4
	article.container
		h2.kusto-title Our People
		p.sub-title Kusto Home has built a team of experienced professionals who have demonstrated complementary financial and managerial skills over several economic and investment cycles in Vietnam.
		.row
			.col
				.testimonial-slider.owl-carousel
					a.fancybox(href="#fancytext1")
						figure.item
							img(src='./img/about/a-5.png', )
							figcaption
								h4 Yerkin Tatishev
								p Chairman of Kusto Group
						#fancytext1.fancy(style="display:none")
							.fancy-img
								img(src='./img/about/a-5.png', )
							.fctext
								h4 Yerkin Tatishev
								p Chairman of Kusto Group
								p.fancy-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae magni debitis doloremque, expedita cumque, quibusdam quaerat necessitatibus eos vel distinctio quasi assumenda. Ab vel itaque, quisquam obcaecati architecto sit harum!
					a.fancybox(href="#fancytext2")
						figure.item
							img(src='./img/about/a-6.png', )
							figcaption
								h4 MURAT UTEMISSOV
								p Kusto Board Member and CEO Kusto Home
						#fancytext2.fancy(style="display:none")
							.fancy-img
								img(src='./img/about/a-6.png', )
							.fctext
								h4 MURAT UTEMISSOV
								p Kusto Board Member and CEO Kusto Home
								p.fancy-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae magni debitis doloremque, expedita cumque, quibusdam quaerat necessitatibus eos vel distinctio quasi assumenda. Ab vel itaque, quisquam obcaecati architecto sit harum!
					a.fancybox(href="#fancytext3" )
						figure.item
							img(src='./img/about/a-7.png', )
							figcaption
								h4 DAULET NURZHANOV
								p Kusto board member and CEO Kusto Agro
						#fancytext3.fancy(style="display:none")
							.fancy-img
								img(src='./img/about/a-7.png', )
							.fctext
								h4 DAULET NURZHANOV
								p Kusto board member and CEO Kusto Agro
								p.fancy-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae magni debitis doloremque, expedita cumque, quibusdam quaerat necessitatibus eos vel distinctio quasi assumenda. Ab vel itaque, quisquam obcaecati architecto sit harum!
