section.canhcam-news-3
	.container
		h2.kusto-title New Released
		.container.news-item
			.row
				.col-lg-6.top-list
					a.item(href="#")
						figure
							.img
								img.img-fluid(src="./img/media/m-1.jpg", alt="alt")
							figcaption
								h3 Kusto Home to officially introduce Bora Bora tower in HCM City
								time 12/12/2017
				.col-lg-6.part-list
					a.item(href="#")
						figure.row
							.col-md-4
								.img
									img.img-fluid(src="./img/media/m-2.jpg", alt="alt")
							figcaption.col-md-8
								h3 Kusto Group aims to turn its firms into S-E Asian leaders
								time 12/12/2017
					a.item(href="#")
						figure.row
							.col-md-4
								.img
									img.img-fluid(src="./img/media/m-3.jpg", alt="alt")
							figcaption.col-md-8
								h3 Alexander Pirogov: “Kusto Logistics is a company that stands by its word”
								time 12/12/2017
					a.item(href="#")
						figure.row
							.col-md-4
								.img
									img.img-fluid(src="./img/media/m-4.jpg", alt="alt")
							figcaption.col-md-8
								h3 Kusto Home, Coteccons sign deal on Diamond Island apartments
								time 12/12/2017
			.row.other-list
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							.img
								img.img-fluid(src="./img/media/m-5.jpg", alt="alt")
							figcaption
								h3 Coteccons & Kusto Home Signed MOU
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.
								time 12/12/2017
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							.img
								img.img-fluid(src="./img/media/m-6.jpg", alt="alt")
							figcaption
								h3 Kusto Home makes the new Diamond Island an ideal home
								p Kusto Home Vietnam – developer of Diamond Island – on May 26 announced the ground-breaking ceremony for the new Diamond Island.
								time 12/12/2017
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							.img
								img.img-fluid(src="./img/media/m-7.jpg", alt="alt")
							figcaption
								h3 Kusto Home launches sale at Bora Bora tower in Ho Chi Minh City
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit
								time 12/12/2017
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							.img
								img.img-fluid(src="./img/media/m-8.jpg", alt="alt")
							figcaption
								h3 Luxury Property In Vietnam Attracting Singaporean Investors 
								p The combination of luxury accommodation and a beautiful natural setting have proven to be the main the selling points for the Diamond Island project in Ho Chi Minh City.
								time 12/12/2017
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							.img
								img.img-fluid(src="./img/media/m-9.jpg", alt="alt")
							figcaption
								h3 NEW MEMBER: BINH THIEN AN PROPERTY JOINT STOCK COMPANY – DIAMOND ISLAND
								p Kusto Home Vietnam – developer of Diamond Island – on May 26 announced the ground-breaking ceremony for the new Diamond Island.
								time 12/12/2017
				.col-sm-6.col-lg-4
					a.item(href="#")
						figure
							.img
								img.img-fluid(src="./img/media/m-10.jpg", alt="alt")
							figcaption
								h3 Real estate lures Singaporean investment
								p Singaporean real estate investors are operating successfully in Vietnam. Typically, seven Vietnam-Singapore Industrial Parks (VSIPs) have drawn more than US$8 billion investment capital and generated more than 155,000 jobs, Mrs Lin added.
								time 12/12/2017
