section.canhcam-boxes-3#kusto-about-2
	.container(bg-img="./img/about/a-2.jpg")
		h2.kusto-title Vision - Mision
		.row
			.col-lg-6
				.img(data-aos="fade-up" data-aos-once="true" data-aos-duration="1500")
					img(src="./img/about/icon-1.png", alt="")
				.text(data-aos="fade-up" data-aos-once="true" data-aos-duration="1500")
					h4 Vision
					p Kusto Vietnam is committed to supporting visionary entrepreneurs and management teams who strive to transform and improve the country’s business landscape.
			.col-lg-6
				.img(data-aos="fade-up" data-aos-once="true" data-aos-duration="1500")
					img(src="./img/about/icon-2.png", alt="")
				.text(data-aos="fade-up" data-aos-once="true" data-aos-duration="1500")
					h4 Misson
					p Kusto Home aims to form long-term partnerships with the companies in which invests. The firm, thanks to the well-rounded background of the team made up of entrepreneurs, operations experts, and experienced investors, emphasizes value-creation by supporting invested companies to identify and execute strategic initiatives