section.canhcam-boxes-10
	.container
		.row.residential-description
			.col-lg-8
				.text
					h1 DASDASDADASDASD
					span Your path to success is unique, so is your life
					p Diamond Island is the unique island location to bring to life a philosophy of healthy living for families of all generations.Fully fitted and features sleek, thoughtful design alongside state-of-the-art appliances and high-quality building material. Community area totals 86.5% of the island’s land area; plentiful space for family activities and recreation; This is the only island within HCMC area, apart from the metropolitan hustle.
					p Community area totals 86.5% of the island’s land area; plentiful space for family activities and recreation. Other perfect resort style facilities such as river park, BBQ garden, meditation garden, outdoor library, spa, and mini golf and sports complex. Water taxi and private yacht dock exclusive to island residents.
					a(href="#") VIEW WEBSITE
			.col-lg-4
				.content
					h5.dev Developer
					p Kusto Home
					h5.location Location
					p Lorem ipsum dolor sit amet consectetur adipisicing elit.
					h5.project Project Type
					p Lorem ipsum dolor sit amet consectetur adipisicing elit.
					h5.land Land Area
					p 79.999 m2
					h5.status Status
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
					h5.phone Hotline
					p + 84 0912379 9
		.row.residential-gallery
			.col-12
				.owl-carousel
					.item.cover
						img(src="./img/residential/r-3.jpg")
					.item
						img(src="./img/residential/r-3.jpg")
					.item
						img(src="./img/residential/r-3.jpg")