section.canhcam-banner-1
	article.list-items
		.item
			img.img-fluid(src='./img/banner/b-1.jpg')
			.title
				h1.animated.bounce
					| BUILDIND THE <span>PREMIUM LIFE</span>
					br
					| <span>BUILDING</span> THE FUTURE
		.item
			img.img-fluid(src='./img/banner/b-1.jpg')
			.title
				h1animated.bounce
					| BUILDIND THE <span>PREMIUM LIFE</span>
					br
					| <span>BUILDING</span> THE FUTURE
		.item
			img.img-fluid(src='./img/banner/b-1.jpg')
			.title
				h1.animated.bounce
					| BUILDIND THE <span>PREMIUM LIFE</span>
					br
					| <span>BUILDING</span> THE FUTURE
