section.canhcam-form-1
	article.container
		.row
			.col-lg-4
				.text(bg-img='./img/contact-bg.jpg')
					h3 
						| Kusto Management Vietnam
						br
						| Company Limited
					.contact
						.icon
							span.mdi.mdi-home
						.sub-text
							h4 OFFICE ADDRESS
							p Central Plaza - Unit 1103
							p Le Duan Street 17
							p District 1 - Ho Chi Minh City, Vietnam
					.contact
						.icon
							span.mdi.mdi-phone
						.sub-text
							h4 Hotline
							p + 84 938 480 888
					.contact
						.icon
							span.mdi.mdi-email
						.sub-text
							h4 Email
							p contact@kusto.com.vn