section.canhcam-carousel-4
	article.container
		h2.kusto-title Partners
		.owl-carousel.owl-theme.list-items
			.item
				a(href='#')
					img(src='./img/partner/p-1.png', alt='')
			.item
				a(href='#')
					img(src='./img/partner/p-2.png', alt='')
			.item
				a(href='#')
					img(src='./img/partner/p-3.png', alt='')
			.item
				a(href='#')
					img(src='./img/partner/p-4.png', alt='')
			.item
				a(href='#')
					img(src='./img/partner/p-5.png', alt='')
			.item
				a(href='#')
					img(src='./img/partner/p-6.png', alt='')
			.item
				a(href='#')
					img(src='./img/partner/p-7.png', alt='')
