header.canhcam-header-1
	.container
		.row.no-gutters.align-items-center
			.logo
				a.logo(href='index.html')
					img.img-fluid(src="./img/logo.png")
			.menu.ml-auto
				.Module.Module-139
					.ModuleContent
						ul.nav.navbar
							li.nav-item
								a.nav-link.active(href="about.html") ABOUT US
							li.nav-item
								a.nav-link(href="residential.html") PROJECTS
							li.nav-item
								a.nav-link(href="commercial.html") COMMERCIAL
							li.nav-item
								a.nav-link(href="media.html") MEDIA CENTER
							li.nav-item
								a.nav-link(href="career.html") JOIN US
							li.nav-item
								a.nav-link(href="contact.html") CONTACT US
				.social
					.Module.Module-140
						.ModuleContent
							a.nav-link(href="#")
								span.fab.fa-facebook-f
							a.nav-link(href="#")
								span.fab.fa-youtube
							a.nav-link(href="#")
								span.fab.fa-linkedin-in
				.search
					.search-icon.d-none.d-lg-flex
						span.fas.fa-search
					.searchbox.hide
						input.form-control(type="text")
						button(type="submit")
			.language.ml-auto.ml-lg-0
				select#lang(name="lang")
					option(value="EN") EN
					option(value="VN") VN
			.toggle-menu-mobile.d-flex.d-lg-none
				span.fa.fa-bars