extends _layout/layout.pug
block variables
	- var title = "career-detail"
	- var description = "Description for career-detail page"
	- var bodyclass = "career-detail"
	- var href = "/career-detail.html"
block header
	include ../lib/header/h-1/index.pug
block body
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/boxes/b-7/index.pug
block footer
	include ../lib/footer/f-5/index.pug
