extends _layout/layout.pug
block variables
	- var title = "career"
	- var description = "Description for career page"
	- var bodyclass = "career"
	- var href = "/career.html"
block header
	include ../lib/header/h-1/index.pug
block body
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/boxes/b-9/index.pug
	include ../lib/boxes/b-11/index.pug
block footer
	include ../lib/footer/f-5/index.pug
