section.canhcam-nav-1
	.container
		ul.nav.justify-content-center.nav-pills#kusto-spy
			li.nav-item.active
				a.nav-link(href='#kusto-about-1') Our Business
			li.nav-item
				a.nav-link(href='#kusto-about-2') Vision - Mission
			li.nav-item
				a.nav-link(href='#kusto-about-3') Awards
			li.nav-item
				a.nav-link(href='#kusto-about-4') Our People