section.canhcam-boxes-9
	.container
		h2.kusto-title Overview
		.row.item
			.col-lg-6
				.img(bg-img="./img/career/c-1.jpg")
					img.d-lg-none.d-xl-block(src="./img/career/c-1.jpg")
			.col-lg-6
				.text 
					h4 Company overview
					p The Kusto Group is a Singapore private holding company with diversified investments in varied industries and a strong global edge with presence in Vietnam, China, Thailand, India, Russia, Kazakhstan, Ukraine, Turkey, Georgia and Canada.
					br
					p Known for its long-term approach to value creation, the Kusto Group employs careful planning and on-target solutions to assure every project is of the highest caliber. Developing the Diamond Islands as Ho Chi Minh City’s unique luxury resort residences, the Kusto Group invests its best people, applies new technology, construction solutions and innovation to give future owners the best in living.
		.row.item
			.col-lg-6.order-lg-2
				.img(bg-img="./img/career/c-2.jpg")
					img.d-lg-none.d-xl-block(src="./img/career/c-2.jpg")
			.col-lg-6.order-lg-1
				.text 
					h4 Why join us?
					p By joining our team, we offer to successful candidates excellent career opportunities and remuneration package.
					ul.list-unstyled
						li Attractive salary and incentives; rewarding initiative and creativity
						li Training and career evolution opportunities
						li An international standard working environment
						li Trusting and empowering our employees