section.canhcam-boxes-2
	.container
		h2.kusto-title About US
		.row
			.col-lg-6
				.img(bg-img="./img/career/c-1.jpg")
					img(src="./img/career/c-1.jpg")
			.col-lg-6
				.text 
					p.bold Kusto Home is a member of Kusto Group - an international investment private holding company, headquatered in Singapore, with diversified investments in oil and gas exploration and production, petrol stations, energy, civil construction, real estate development, agrilculture, ...  
					p Currently, Kusto Group is present throughout South East Asia and Europe, including Vietnam, China, Thailand, India, Russia, Kazakhstan, Ukraine, Turkey and Georgia. Kusto Group is a major shareholder of Coteccons - leading construction company in Vietnam, also investing in VCM- concrete producer in Quang Binh. With strong financial strength, combined with experience in the development and management of real estate in many other countries, Kusto Home desires to bring customers all quality products and the best place for living.